<mat-toolbar>
  <span>Mantenimiento de Usuarios</span>
</mat-toolbar>

<div class="container-app" (window:resize)="onResize($event)">
  <button mat-raised-button color="primary" style="float:right;margin-bottom:15px;"
    [routerLink]="['/panel/usuarios/registrar']">
    <mat-icon>add</mat-icon> REGISTRAR
  </button>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="idUsuario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let element"> {{element.idUsuario}} </td>
    </ng-container>

    <ng-container matColumnDef="nombres">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</th>
      <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>

    <ng-container matColumnDef="apellidos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</th>
      <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>

    <ng-container matColumnDef="username" *ngIf="!mobile">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <ng-container matColumnDef="rol" *ngIf="!mobile">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element"> {{element.rol.descripcion}} </td>
    </ng-container>

    <ng-container matColumnDef="estado" *ngIf="!mobile">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.enabled">Activo</span>
        <span *ngIf="!element.enabled">Inactivo</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef>Acciones</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" matTooltip="Cambiar Estado" matTooltipPosition="above"
          (click)="cambiarEstado(element)">
          <mat-icon *ngIf="element.enabled" style="font-size: 30px;">check_box</mat-icon>
          <mat-icon *ngIf="!element.enabled" style="font-size: 30px;">check_box_outline_blank</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsFinal"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsFinal;"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100]" [length]="cantidad"
    (page)="siguientePagina($event)"></mat-paginator>
</div>
